<div id="home-container">
  <header>
    <div id="firstScreen">
      <h1>BELEAF</h1>
      <p>
        BeLeaf is a search engine that allows you to find the perfect plant for your home.
      </p>
      <a href="/plants">FIND YOUR PLANT</a>
    </div>
  </header>
</div>

</div>