/* phones */
/* from 413px */
@media screen and (max-width: 767px) {
  #asideplants {
    width: 40%;
  }
  #searchbar input {
    width: 70%;
    font-size: 8px;
  }
  #filter h4 {
    font-size: 10px;
  }

  .filterLabel {
    padding: 5px;
  }
  .filterLabel label {
    font-size: 8px;
  }

  .grid-item {
    width: 100%;
  }
}

/* tablets */
/* from 768px to 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #asideplants {
    width: 40%;
  }

  .grid-item {
    width: 45%;
  }
}

/* small to medium desktop */
/* from 1024ox to 1440px */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

/* medium to big desketop */
/* above 1440px */
@media screen and (min-width: 1441px) {
}
